body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question {
  background-color: #81D8D0;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid black;
}

.question-header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.header-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.header-info > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}

.header-info > div {
  color: #969696;
  font-size: 15px;
}

.question-body {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.option {
  width: 100%;
  border-radius: 2px;
  border: 0;
}